@model recipes.Models.Category
@{
    ViewData["Title"] = "CallCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Güncelleme Sayfası</h1>
<br />

<br />
@using (Html.BeginForm("UpdateCategory", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.Id)
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ImageUrl)
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Kategori Güncelle</button>
}